upstream api {
    server backend:8000;
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://api;
        proxy_set_header Host $http_host;
        
        if (!-f $request_filename) {
            proxy_pass http://api;
        }
    }

    location /pgadmin/ {
        proxy_pass http://pgadmin;
        proxy_redirect http:// $scheme://;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Script-Name /pgadmin;
    }

}
